# Base API URL (must end with /api)
VITE_API_URL=http://localhost:5000/api

# Public app URL
VITE_APP_URL=http://localhost:5173

# Image/static files base (backend URL)
VITE_IMG_URL=http://localhost:5000

# Admin route prefix
VITE_ROUTE_PREFIX=admin

